<!-- <div class="container-fluid" id="main-header">
	<img src="media/images/ddct.jpg" class="img-responsive" id="header-bg">
</div>
 -->
<!-- Main BG -->
<div class="parallax-image main-bg">
	<div class="container">
		<div class="col-lg-4 col-lg-offset-8" id="main-header">

			<!-- Main Logo -->
			
			
		</div>
	</div>
</div>

<!-- Quote -->
<div id="our-quote">
	<div class="container">
		<h1 class="quote">"The purpose-driven board company"</h1>
	</div>
</div>

<!-- Mission Statment -->
<div class="content">
	<div class="container">
		<div class="col-lg-10 col-lg-offset-1" id="mission">
    		
    	</div>
    </div>		
</div>

<!-- Main BG -->
<div class="parallax-image hand-crafted">
	<div class="container">
		
	</div>
</div>

<!-- Mission Statment -->
<div class="content">
	<div class="container">
		
	</div> 
</div>    		




